<!DOCTYPE html>
<html>
    <title>Data Collector App</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Height Collection</h1>
            <h3>Please fill out the form</h3>
            <form action="success.html" method="POST">
                <input title="Your email will be safe with us" placeholder="Enter your email address" type="email" name="email_name" required>
                <br>
                <input title="Your data will be safe with us" placeholder="Enter your height in inches" type="number" min="20" max = "300" name="height_name" required>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>